

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: montserrat_light, serif;
    /*background-color: var(--color3);*/
}

h1 {
    margin: 0;
    font-size: 36px;
    font-family: montserrat_bold, serif;
    color: var(--color3);
}

h2 {
    margin: 0;
    font-size: 24px;
    font-family: montserrat_bold, serif;
    color: var(--color3);
}

h3 {
    margin: 0;
    font-size: 18px;
    font-family: montserrat_bold, serif;
    color: var(--color3);
}
p, b, strong {
    color: var(--color3);
}

a {
    color: var(--color3);
    font-family: montserrat_regular, serif;
    font-size: medium;
    text-decoration: none;
}

span {
    font-family: montserrat_regular, serif;
    font-size: medium;
}

#wrapper{
    margin: auto;
    padding: 0;
}

#header {
    display: flex;
    background: var(--color1) ;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 50px;
}

#logo{
    margin-right: 100px;
}

#menu{
    /*text-align: right;*/
    display: flex;
}

#login-image{
    width: 20px;
    margin-right: 10px;
}

#login{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: 120px;
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color3);
}

#login-container{
    display: flex;
    margin-right: 100px;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#navbar ul {
    list-style: none;
    display: flex;

}

#navbar li {
    justify-content: center;
    text-align: center;
    padding: 85px;
    margin: auto;
}

#page{
    margin-top: 100px;
    text-align: center;
}

#container{
    height: 50%;
    width: 50%;
    text-align: center;
    margin: auto;
}

#mission_card-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%;
}

#about_us-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 65px;
    width: 75%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#footer{
    background-color: var(--color1);
    color: white;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

